/bin/Debug/net48/HOOKS-Assembly-CSharp.dll
/bin/Debug/net48/PUBLIC-Assembly-CSharp.dll
/LogManager/bin/Debug/net48/PUBLIC-Assembly-CSharp.dll
/LogManager/bin/Debug/net48/HOOKS-Assembly-CSharp.dll
/lib/HOOKS-Assembly-CSharp.dll
/lib/PUBLIC-Assembly-CSharp.dll
.vs*
/LogManager/obj/Debug/net48/LogManager.sourcelink.json
/LogManager/obj/project.nuget.cache
/LogManager/obj/project.nuget.cache
/.vs/LogManager/DesignTimeBuild/.dtbcache.v2
/.vs/LogManager/v17/.futdcache.v2
/.vs/LogManager/v17/.suo
/LogManager/obj/Debug/net48/LogManager.AssemblyInfo.cs
/LogManager/obj/Debug/net48/LogManager.AssemblyInfoInputs.cache
/LogManager/obj/Debug/net48/LogManager.assets.cache
/LogManager/obj/Debug/net48/LogManager.csproj.AssemblyReference.cache
/LogManager/obj/Debug/net48/LogManager.csproj.CoreCompileInputs.cache
/LogManager/obj/Debug/net48/LogManager.dll
/LogManager/obj/Debug/net48/LogManager.GeneratedMSBuildEditorConfig.editorconfig
/LogManager/obj/Debug/net48/LogManager.pdb
/LogManager/obj/LogManager.csproj.nuget.dgspec.json
/LogManager/obj/LogManager.csproj.nuget.g.props
/LogManager/obj/project.assets.json
